*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.en-font{ 
    font-family: 'Times New Roman' !important;
}
.lao-font{ 
    font-family: 'Saysettha OT' !important;
}

/* nav */
.nav{
    background: #222 !important;
    padding: 10px 25px;
    height: 60px;
    border-bottom: 1px solid gold;
}
.nav a{
    font-size: clamp(16px, 2vw, 27px);
}
.nav button{
    border: none;
    color: white;
    background: none;
    cursor: pointer;
    outline: none;
}
.nav button i{
    transform: scale(1.4);
}

.row{
    margin: 0;
    height: auto;
}
.dropdown-menu{
    min-width: 0;
    width: 120px;
    padding: 0;
}
.dropdown-menu-list{
    padding: 8px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropdown-menu-list:hover{
    background: rgb(240, 240, 240);
}
.dropdown-menu-list:first-child{
    border-bottom: 1px solid rgb(223, 223, 223);
}
.dropdown-menu-list img{
    margin-right: 10px;
}

/* sidebar */
.sidebar{
    background-color: #252525;
    height:calc(100vh - 60px);
    position: sticky;
    top: 60px;
    overflow:hidden
}
.profile_sidebar{
    width: 100%;
    border-bottom: 1px solid grey;
    padding-bottom: 15px !important;
}
.profile_sidebar > img{
    display: block;
    width: 90%;
    aspect-ratio: 2;
    object-fit: cover;
    margin: 12px auto;
}
.profile_name{
    font-weight: bold;
    font-size: 15px;
}
.profile_name span{
    font-size: 20px;
}
.green__circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: chartreuse;
    margin-right: 5px;
}

.menu_box{
    width: 100%;
    height: calc(100vh - 330px);
    overflow: hidden;
    padding: 10px;
}
.menu_lists{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding-left: 2px;
    padding-right: 27px;
    list-style: none;
    box-sizing: content-box;
}
.main-menu {
    text-align: left;
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.sub-menu{
    text-decoration: none;
}
.sub-menu:hover{
    text-decoration: underline;
    color:#1787ff !important;
}
.menu__list{
    display: block;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 3px;
    text-decoration: none;
}
.fas{
    margin-right: 10px;
}

.menu_list:hover{
    background: #58349b;
}

.active_list{
    background:#8540f5 !important;
}
.icon-rotate{
    transition: all .3s linear;
}

.icon-rotate.down {
    transform:translateY(5px) rotate(90deg);
}

/* schedule*/

.title_box{
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    position: relative;
}
.title_box > button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.left_month, .right_month{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left_month{
    left: 0;
}
.right_month{
    right: 0;
}
.calender-legend{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: grid;
    place-items: center;
}
.calender-sign{
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
#calender{
    cursor: pointer;
    border-top: 1px solid grey;
}
.calender-sticker{
    position: absolute;
    top: 60%;
    transform: translate(-60%, -50%);
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


/* content */

.main_box{
    background: #E9ECF2;
    height: calc(100vh - 60px);
    padding: 20px;
    text-align: center;
    position: relative;
}

/* booking */

.reservation_title, .customer_info {
    border-bottom: 1px solid grey;
}
.booking-customer-list{
    gap: 10px;
}
#alert-box{
    position: absolute;
}
.after-bottom{
    position: relative;
}
.after-bottom::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: lightslategray;
}
.btn-arrow{
    position: relative;
    display: block;
    padding: 6px 12px;
    font-size: 1rem;
    text-decoration: none;
    color: #0D6EFD;
    background: #fff;
    border: 1px solid #dee2e6;
}
.btn-arrow:hover{
    background: #F8F9FA;
}
.page-item:first-child .page-link{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.page-item:last-child .page-link{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.next-btn{
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
.previous-btn{
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}


/* room */

.room_page_nav{
    border-bottom: 1px solid grey;
}
.floorSelector{
    font-size: 16px;
    padding: 5px;
    padding-right: 10px;
    color: gray;
}
.display_room{
    width: 100%;
    max-height: calc(100vh - 250px);
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-flow: dense;
}
.room_box{
    width: 25%;
    text-align: center;
}
.room_title{
    width: 100%;
    height: 130px;
    display: grid;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer !important;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center;
}


/* stepper */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #CACACA;
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: #0D6EFD;
    color: #fff;
}
.done {
    background-color: #0D6EFD;
    color: #fff;
}
.step-item {
    z-index: 10;
    text-align: center;
}
#progress {
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 23px;
    border: none;
    margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color:#0D6EFD;
    transition: .7s ease;
}
#progress::-webkit-progress-bar {
    background-color: #CACACA;

}

/* reserve */
.refCodeBox {
    display: inline-block;
    position: relative;
}

.refCodeBox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.refCodeBox li {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.refCodeBox input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.refCodeBox input[type="text"]:focus {
    outline: none;
}

.refCodeBox .delete-button {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}

/* report */
.card-shadow{
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid #F1F1F2;
}

.revenue-stats{
    position: relative;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(40deg, #013A6B 50%, #004a8f 50.5%);
}

